@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: medium;
  font-weight: 600;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  background-color: #fb6767;
  font-size: 16px;
  font-family: Poppins;
  margin: 0 auto;
  padding-top: 100px;
}

.header {
display:flex;
flex-direction: column;
max-width: 335px;
align-self: center;
margin-bottom:30px;
}

.header__title {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
}

.header__description {
  color: white;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  background-color: #6d3fb7;
  color: white;
  padding: 5px 50px;
  border-radius: 10px;
  box-shadow: 0px 7px #c7c7c79e;
}

.header__text {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  align-self: center;
  max-width: 335px;
  height: 100%;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #d5d3d3;
  padding: 20px 85px 20px 20px;
  margin: 0 auto;
  margin-top: 30px;
}

.registration-form__input {
  padding: 20px 40px;
  border-radius: 10px;
  border: 1px solid #808080;
  margin: 10px;
}

.registration-form__link {
  display: flex;
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 25px 40px;
  border-radius: 10px;
  max-width: 196px;
  align-items: center;
  margin-top: 20px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-text {
  display: flex;
  text-align:center;
  margin:0 auto;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 30px;
}

.important-text__highlight {
color: red;
}
