.error-text {
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  line-height: 10px;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fa6464;
}

.error-text::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-color: #fa6464c9;
  border-radius: 50%;
  top: -49px;
  right: 19px;
}

.error-text::before {
  position: absolute;
  content: "!";
  font-size: 18px;
  font-style: normal;
  top: -43px;
  right: 27px;
  color: rgb(255, 255, 255);
  z-index: 100;
}
